*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

i{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

/* navbar style here */

.navbar{
    background: #212529;
    color: white;
    padding: 25px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.cart{
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    
}

.cartAmount{
    font-size: 16px;
    position: absolute;
    top: -15px;
    right: -10px;
    color: #fff;
    background-color: red;
    padding: 3px;
    border-radius: 3px;
}

/* Shop items style are here */

.shop{
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}

@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}

.item{
    border: 1px solid #212529;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s ease-out;
}

.item:hover{
    transform: scale(1.1);
}

.item .details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-quantity{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg{
    color: red;
}
.bi-plus-lg{
    color: green;
}

/* ! style rules for label and some buttons */

.text-center{
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll{
    background-color: #212529;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s ease-in;
}

.checkout{
    background-color: green;
}

.removeAll{
    background-color: red;
}

.HomeBtn:hover{
    background: white;
    color: #212529;
    border: 1px solid #212529;
    transform: scale(1.1);
}

.bi-x-lg{
    color: red;
    font-weight: bold;
}

/* style for shopping-cart */
.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

/* style for cart-item */
.cart-item{
    border: 2px solid #212529;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    transition: all 0.5s ease-in;
}

.cart-item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.1);
}

.title-price-x{
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.title-price{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price{
    background-color: #212529;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
}







